@using Bethanys.Hrm.Shared;
@if (benefits == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div class="row">
        <div class="col-md-8">
            <table>
                <thead>
                <tr>
                    <th class="w-auto"></th>
                    <th class="w-auto">Benefit</th>
                    <th class="w-25">start date</th>
                    <th class="w-25">End Date</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var benefit in benefits)
                {
                    <tr @key="benefit">
                        @* <input type="checkbox" *@
                        @*        @bind="benefit.Selected"> *@
                        <input type="checkbox"
                               checked="@benefit.Selected"
                               @onchange="e => CheckBoxChanged(e, benefit)"
                               name="" id="">
                        <td>
                            @benefit.Description
                        </td>
                        @if (benefit.Selected)
                        {
                            <td>@benefit.StartDate?.ToString("MM/dd/yyyy")</td>
                            <td>
                                <input type="date"
                                       @bind="benefit.EndDate">
                            </td>
                        }
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="col-md-4 mt-1">
            <button class="btn @Theme.ButtonClass"
                    disabled="@SaveButtonDisabled"
                    @onclick="SaveClick">
                Save
            </button>
            <button class="btn @Theme.ButtonClass"
                    @onclick="RevertClick">
                Revert
            </button>
        </div>
    </div>
}